<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

{% macro duplicate_group(dup) -%}
<table class="table">
    <tr>
        <th scope="row">Hash</th>
        <th colspan="{{ dup['items']['id']|length }}">{{ dup['_id'] }}</th>
    </tr>
    <tr>
        <th scope="row"> Max size</th>
        <td colspan="{{ dup['items']['id']|length }}">{{ dup['file_size'] }}</td>
    <tr>
    {% for key, values in dup['items'].items() %}
    <tr>
        {% if key not in ('id', 'file_name') %}
            <th scope="row">{{ key | replace('_', ' ') | title  }}</th>
            {% for value in values %}
            <td data-item-id="{{ dup['items']['id'][loop.index - 1] }}">{{ value }}</td>
            {% endfor %}
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <th scope="row"> Filename</th>
        {% for file_name in dup['items']['file_name'] %}
        <td data-item-id="{{ dup['items']['id'][loop.index - 1] }}">
            {{ file_name }}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">Preview</th>
        {% for file_name in dup['items']['file_name'] %}
        <td data-item-id="{{ dup['items']['id'][loop.index - 1] }}">
            {% if '.heic' in file_name | lower %}
            <a href="http://127.0.0.1:5000/heic-transform/{{ file_name| urlencode }}" target='_blank'>
                <img class="img-responsive" src="http://127.0.0.1:5000/heic-transform/{{ file_name| urlencode }}" alt="{{ file_name }}">
            </a>
            {% else %}
                {% if '.mp4' in file_name | lower or '.avi' in file_name | lower or '.mov' in file_name | lower 
                    or '.ogv' in file_name | lower or '.mkv' in file_name | lower or '.mov' in file_name | lower 
                    or '.webm' in file_name | lower or '.ts' in file_name | lower %}
                    <video width="320" height="240" controls>
                    <source src="{{ file_name }}">
                </video>
                {% else %}
                <a href="{{ file_name }}" target='_blank'>
                    <img class="img-responsive" src="{{ file_name }}" alt="{{ file_name }}">
                </a>
                {% endif %}            
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row"></th>
        {% for id in dup['items']['id'] %}
        <td data-item-id="{{ dup['items']['id'][loop.index - 1] }}">
            <button class="btn btn-danger delete-btn" role="button" data-name="{{ id }}" style="margin-top: 15px">
                Delete
            </button>
        </td>
        {% endfor %}
    </tr>
</table>
{%- endmacro %}

{% macro pagination(current, total) -%}
<nav>
    <div class="pages text-center">
        {{ current + 1 }} of {{ total }}
    </div>
    <ul class="pager">
        {% if current == 0 %}
        <li class="disabled"><span>Previous</span></li>
        {% else %}
        <li><a href="{{ current - 1}}.html">Previous</a></li>
        {% endif %}

        {% if current == (total - 1) %}
        <li class="disabled"><span>Next</span></li>
        {% else %}
        <li><a href="{{ current + 1 }}.html">Next</a></li>
        {% endif %}
    </ul>
</nav>
{%- endmacro %}

<body>
    <div class="container" style="width: 100%;">
        {% for dup in duplicates %}
        <div class="row" style="margin: 15px; margin-bottom: 30px;">
            {{ duplicate_group(dup) }}
        </div>
        {% endfor %}

        {{ pagination(current, total) }}
    </div>

    <div class="alert alert-danger alert-dismissible fade" role="alert" id="file-not-found-alert" style="position: fixed; top: 0; left: 0; width: 100%;">
        <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> File could not be found.
    </div>

    <script type="text/javascript">
        $(function(){
            $("[data-hide]").on("click", function(){
                $(this).closest("." + $(this).attr("data-hide")).removeClass("in");
            });
        });

        $(".delete-btn").click(function() {
            var file_name = $(this).data("name");
            var parent =  $(this).parent();
            var item_id = $(this).parent().data("item-id");
            var all_tds = $("td").filter("[data-item-id='" + item_id + "']")

            $.ajax({
                url: 'http://127.0.0.1:5000/picture' + file_name, //encodeURIComponent(file_name),
                // url: '/picture/%2FVolumes',
                type: 'DELETE',
                success: function(data) {
                    if(data == "True") {
                        all_tds.addClass('fade');
                    }
                    else {
                        $('#file-not-found-alert').addClass('in');
                    }
                },
                error: function() {
                    console.log("Something went wrong...");
                }
            });
        });

    </script>

</body>

</html>
