coverage==4.4.1
docopt==0.6.2
Flask==0.10.1
ImageHash==1.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mock==2.0.0
mongomock==3.8.0
more-itertools==2.2
numpy==1.9.2
pbr==3.0.1
Pillow==2.9.0
py==1.4.34
pyfakefs==3.2
pymongo==3.0.3
pytest==3.1.2
pytest-cov==2.5.1
scipy==0.15.1
sentinels==1.0.0
six==1.10.0
termcolor==1.1.0
Werkzeug==0.10.4
