docopt==0.6.2
Flask==1.1.2
ImageHash==4.2.0
Jinja2==2.11.2
more-itertools==8.6.0
Pillow==8.1.0
pymongo==3.11.2
python-magic==0.4.18
termcolor==1.1.0
Werkzeug==1.0.1
Flask-Cors==3.0.9
pybktree==1.1
pyheif==0.5.1
